button{
    background-color: black;
    border: 1px solid yellow ;
    padding: 0.5rem;
    border-radius: 1rem;
    color:white;
    cursor: pointer;
    width:40%;
    /* margin-right:2rem; */
    margin-left: 5rem;

}

button:hover{
    background-color:  grey;
    color:black;
    transition: ease-in 2;
}