*{
    margin-left:0.5rem ;
}
.Img{
    margin-left: 2rem;
}
.cointaner{
    width: 15em;
    margin: 0 0.2em;
    float: left;
}

.pic img{
    width: 100%;
}

.title{
    margin-left: 2.5rem;
    font-weight: bold;
    margin-bottom: 1em;
}
.channel,.view{
    font-size: small;
    color:#ccc;
    margin-bottom:0.2em;
    margin-left: 10rem;
}

.views span{
  
    padding: 0 0.5em;
}
.views{
    margin-left: 3rem;
}
    