*{
    margin-left:0.5rem ;
}
.Img{
    margin-left: 2rem;
}
.cointaner{
    width: 15em;
    margin: 0 0.2em;
    float: left;
}

.pic img{
    width: 100%;
}

.title{
    margin-left: 2.5rem;
    font-weight: bold;
    margin-bottom: 1em;
}


.views span{
  
    padding: 0 0.5em;
}
.views{
    margin-left: 2.5rem;
}

.channel{
    font-weight: 500;
    margin-left:2.5rem;
    margin-bottom: 0.5rem;
}
    