h1{
    margin-left:  36rem;
    background-color: cadetblue;
    margin-right:41rem;
    padding: 2rem;
    padding-left: 6rem;
    border-radius: 1rem;
    border-style: dotted;
    text-align: center;
}
/* .App{
    background-color: #333;
   width: 100%; 
   height: ;
} */