h1{
    margin-left:  50rem;
    background-color: cadetblue;
    margin-right:45rem;
    padding: 2rem;
    padding-left: 3rem;
    border-radius: 1rem;
    border-style: dotted;
}
.App{
    background-color: #333;
   width: 100%; 
   height: 100vh;
}